<configuration>

    <appender name="maskSensitiveData" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="com.edug.devfinder.configs.MaskingPatternLayout">
                <maskPattern>\"SSN\"\s*:\s*\"(.*?)\"</maskPattern> <!-- SSN JSON pattern -->
                <maskPattern>\"address\"\s*:\s*\"(.*?)\"</maskPattern> <!-- Address JSON pattern -->
                <maskPattern>(\d+\.\d+\.\d+\.\d+)</maskPattern> <!-- Ip address IPv4 pattern -->
                <maskPattern>(\w+@\w+\.\w+)</maskPattern> <!-- Email pattern -->
                <maskPattern>[p,P]assword\"\s*:\s*\"(.*?)\"</maskPattern> <!-- Address JSON pattern -->
                <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
            </layout>
        </encoder>
    </appender>

    <appender name="rollingFile"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/dev-finder.log</file>
        <encoder
                class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d %p %C{1.} [%t] %m%n</Pattern>
        </encoder>

        <rollingPolicy
                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily and when the file reaches 10 MegaBytes -->
            <fileNamePattern>dev-finder.%d{yyyy-MM-dd,America/Recife}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>512MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <totalSizeCap>40GB</totalSizeCap>
            <maxHistory>32</maxHistory>
        </rollingPolicy>
    </appender>

    <logger name="com.edug.devfinder.configs.HttpLoggingInterceptor" level="trace"/>
    <logger name="com.edug.devfinder.configs.HttpLoggingFilter" level="trace"/>

    <root level="info">
        <appender-ref ref="maskSensitiveData"/>
        <appender-ref ref="rollingFile"/>
    </root>

</configuration>